<div class="footer-fisso">
    <div class="navigazione">
        <div class="colonna" routerLink="/home/dashboard" (click)="impostazioni.hide()">
            <div style="padding-bottom: 4px;">
                <mdb-icon fas icon="home" class="pr-1"></mdb-icon>
            </div>
            <div>
                <span>{{language.smart.home}}</span>
            </div>
        </div>

        <div class="colonna" routerLink="/home/calendario" (click)="impostazioni.hide()">
            <div style="padding-bottom: 4px;">
                <mdb-icon far icon="calendar-alt" class="pr-1"></mdb-icon>
            </div>
            <div>
                <span>{{language.smart.calendario}}.</span>
            </div>
        </div>

        <div class="colonna" routerLink="/home/rose-utenti" (click)="impostazioni.hide()">
            <div style="padding-bottom: 4px;">
                <mdb-icon fas icon="binoculars" class="pr-1"></mdb-icon>
            </div>
            <div>
                <span>{{language.smart.rose}}</span>
            </div>
        </div>
       
        <div class="colonna" (click)="impostazioni.hide()" routerLink="/home/classifiche">
            <div style="padding-bottom: 4px;">
                <mdb-icon fas icon="chart-line" class="pr-1"></mdb-icon>
            </div>
            <div>
                <span>{{language.smart.classifiche}}</span>
            </div>
        </div>

        <div class="colonna" (click)="impostazioni.toggle()">
            <div style="padding-bottom: 4px;">
                <mdb-icon fas icon="user-cog" class="pr-1"></mdb-icon>
            </div>
            <div>
                <span>{{language.smart.info}}</span>
            </div>
        </div>



    </div>
    <div class="impostazioni" mdbCollapse #impostazioni="bs-collapse" (click)="impostazioni.hide()">
        <!-- Footer Elements -->
        <div class="container">

            <div class="pt-16 pb-8">
                <div class="my-flex-around">
                    <div class="informazioni flex-colonna">
                        <p>{{language.footer.info}}</p>
                        <span class="cursore pb-8" (click)="goToLink('https://chat.whatsapp.com/JICQWVbYoqCKh9gek92EIW')">Whatsapp</span>
                        <span class="cursore pb-8" (click)="logOut()">{{language.pannello.log_out}}</span>
                        <span class="cursore pb-8" routerLink="/home/info-utente">{{language.footer.profilo}}</span>
                        <span class="cursore pb-8" (click)="impostazioni.hide();azzeraMessaggi()" routerLink="/home/comunicazioni">{{language.footer.comunicazioni}}</span>
                    </div>
                    <div class="competizione flex-colonna">
                        <p>{{language.footer.competizione}}</p>
                        <span class="cursore pb-8" (click)="onInfo()">{{language.footer.albo}}</span>
                        <a class="cursore pb-8" href="assets/download/regolamento_schitcup.pdf">{{language.footer.regolamento}}</a>
                        <span class="cursore pb-8" (click)="onChangeLanguage()">{{language.footer.cambio_lingua}}</span>
                        <span *ngIf="loggato.stato==STATI_UTNTE.ADMIN" class="cursore pb-8" routerLink="/home/gestione-admin">{{language.header.admin}}</span>
                    </div>
                </div>
            </div>


        </div>
        <!-- Footer Elements -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2020 Copyright: ShitCup {{versione}}
        </div>
        <!-- Copyright -->
    </div>
</div>