<div class="footer-fisso">
    
    <div class="row pa-0 ma-0">
        <div class="col colonna pa-0 ma-0" routerLink="/home/dashboard" (click)="impostazioni.hide()">
            <div class="pt-4">
                <mdb-icon fas icon="home" size="lg"></mdb-icon>
            </div>
            <div>
                <span class="font-small">{{language.smart.home}}</span>
            </div>
        </div>

        <div class="col colonna pa-0 ma-0" routerLink="/home/calendario" (click)="impostazioni.hide()">
            <div class="pt-4">
                <mdb-icon far icon="calendar-alt" size="lg"></mdb-icon>
            </div>
            <div>
                <span class="font-small">{{language.smart.calendario}}</span>
            </div>
        </div>

        <div class="col colonna pa-0 ma-0" routerLink="/home/rose-utenti" (click)="impostazioni.hide()">
            <div class="pt-4">
                <mdb-icon fas icon="binoculars" size="lg"></mdb-icon>
            </div>
            <div>
                <span class="font-small">{{language.smart.rose}}</span>
            </div>
        </div>
       
        <div class="col colonna pa-0 ma-0" (click)="impostazioni.hide()" routerLink="/home/classifiche">
            <div class="pt-4">
                <mdb-icon fas icon="chart-line" size="lg"></mdb-icon>
            </div>
            <div>
                <span class="font-small">{{language.smart.classifiche}}</span>
            </div>
        </div>

        <div class="col colonna pa-0 ma-0" (click)="impostazioni.toggle()">
            <div class="pt-4">
                <mdb-icon fas icon="user-cog" size="lg"></mdb-icon>
            </div>
            <div>
                <span class="font-small">{{language.smart.info}}</span>
            </div>
        </div>



    </div>
    <div class="impostazioni" mdbCollapse #impostazioni="bs-collapse" (click)="impostazioni.hide()">
        <!-- Footer Elements -->
        <div class="container">

            <div class="pt-16 pb-8">
                <div class="my-flex-around">
                    <div class="informazioni flex-colonna">
                        <p>{{language.footer.info}}</p>
                        <span class="cursore pb-8" (click)="goToLink('https://chat.whatsapp.com/JICQWVbYoqCKh9gek92EIW')">Whatsapp</span>
                        <span class="cursore pb-8" (click)="logOut()">{{language.pannello.log_out}}</span>
                        <span class="cursore pb-8" routerLink="/home/info-utente">{{language.footer.profilo}}</span>
                        <span class="cursore pb-8" (click)="impostazioni.hide();azzeraMessaggi()" routerLink="/home/comunicazioni">{{language.footer.comunicazioni}}</span>
                    </div>
                    <div class="competizione flex-colonna">
                        <p>{{language.footer.competizione}}</p>
                        <span class="cursore pb-8" (click)="onInfo()">{{language.footer.albo}}</span>
                        <a class="cursore pb-8" href="assets/download/regolamento_schitcup.pdf">{{language.footer.regolamento}}</a>
                        <span class="cursore pb-8" (click)="onChangeLanguage()">{{language.footer.cambio_lingua}}</span>
                        <span *ngIf="loggato.ruolo==RUOLI_UTENTE.ADMIN" class="cursore pb-8" routerLink="/home/gestione-admin">{{language.header.admin}}</span>
                    </div>
                </div>
            </div>


        </div>
        <!-- Footer Elements -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2020 Copyright: ShitCup {{versione}}
        </div>
        <!-- Copyright -->
    </div>
</div>