<div class="modale-linguaggio">
    <div style="text-align: center;">
        <h2>{{data.titolo}}</h2>
    </div>
    <mat-dialog-content [formGroup]="form">

        <mat-form-field appearance="outline">
            <mat-label>Giornata</mat-label>
            <input matInput type="number" formControlName="giornata">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Serie A</mat-label>
            <input matInput type="number" formControlName="serieA">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>fase</mat-label>
            <mat-select formControlName="fase">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let item of data.fasi" [value]="item.id">{{item.descrizione}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>inizio giornata</mat-label>
            <input matInput type="datetime-local" formControlName="inizio_giornata">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>prima partita</mat-label>
            <input matInput type="datetime-local" formControlName="prima_partita">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>ultima partita</mat-label>
            <input matInput type="datetime-local" formControlName="ultima_partita">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>fine giornata</mat-label>
            <input matInput type="datetime-local" formControlName="fine_giornata">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>is upgrade</mat-label>
            <mat-select formControlName="upgrade">
                <mat-option>None</mat-option>
                <mat-option value="1">SI</mat-option>
                <mat-option value="0">NO</mat-option>
            </mat-select>
        </mat-form-field>

      

    </mat-dialog-content>

    <mat-dialog-actions>
        <button mdbBtn color="danger" (click)="close()">Close</button>
        <button [disabled]="!form.valid" mdbBtn color="primary" (click)="save()">Save</button>
    </mat-dialog-actions>
</div>