.my-flex-around{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.informazioni span:hover{
    color: yellow;
}

.competizione span:hover{
    color: yellow;
}
.competizione a:hover{
    color: yellow;
}