<div *ngIf="statistiche" class="pb-8 pt-32">

    <mdb-card class="text-white" bgColor="bg-success">
        <mdb-card-header>{{language.page.statistiche}}</mdb-card-header>
    </mdb-card>

    <div class="pb-8 pt-8">
        <mdb-card>

            <mdb-card-body>
                <div class="flex-around">
                    <div style="text-align: center;">
                        <div><span>Num</span></div>
                        <div><span>{{statistiche.total}}</span></div>
                    </div>
                    <div style="text-align: center;">
                        <div><span>Win</span></div>
                        <div><span>{{statistiche.win}}</span></div>
                    </div>
                    <div style="text-align: center;">
                        <div><span>Lose</span></div>
                        <div><span>{{statistiche.lose}}</span></div>
                    </div>
                    <div style="text-align: center;">
                        <div><span>Par</span></div>
                        <div><span>{{statistiche.par}}</span></div>
                    </div>
                    <div style="text-align: center;">
                        <div><span>Gol</span></div>
                        <div><span>{{statistiche.goals}}</span></div>
                    </div>
                </div>

            </mdb-card-body>
        </mdb-card>
    </div>

    <div class="pt-8 pb-8">

        <mdb-card>
            <mdb-card-header>
                <img src="assets/avatar/START.png" class="avatar" width="24px" />
                {{language.page.percorso[0]}}
            </mdb-card-header>
        </mdb-card>

    </div>

    <div *ngFor="let element of percorso" class="pt-8 pb-8">

        <mdb-card>
            <mdb-card-header>
                <img src="assets/avatar/TRAGUARDO.png" class="avatar" width="24px" />
                {{language.page.percorso[element.fase]}}
            </mdb-card-header>
        </mdb-card>

        <div *ngFor="let item of element.partite">

            <mdb-card>

                <div class="pt-16 pb-8">
                    <div class="squadre">
                        <div class="col-5 pa-0">
                            <div style="text-align: center;">
                                <label [ngStyle]="{'font-weight': item.CASA.is_player ? 'bold' : 'normal' }">
                                    {{item.CASA.squadra}}
                                </label>
                            </div>
                        </div>
                        <div class="col-2 pa-0">
                            <div style="text-align: center;">
                                <label>{{item.CASA.goals}}-{{item.TRASFERTA.goals}}</label>
                            </div>
                        </div>
                        <div class="col-5 pa-0">
                            <div style="text-align: center;">
                                <label [ngStyle]="{'font-weight': item.TRASFERTA.is_player ? 'bold' : 'normal' }">
                                    {{item.TRASFERTA.squadra}}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

            </mdb-card>
        </div>
    </div>

    <div class="pt-8 pb-8">

        <mdb-card>
            <mdb-card-header>
                <div style="text-align: center;font-weight:bold">{{statistiche.loggato.squadra}}
                    {{getStato(statistiche.stato)}}</div>
            </mdb-card-header>
        </mdb-card>
    </div>

</div>