<div class="page">
    <mdb-card class="text-white mb-3" bgColor="bg-success">
        <mdb-card-header>ShitCup 2022</mdb-card-header>
        <mdb-card-body>
            <mdb-card-title>
                <h5>Benvenuto</h5>
            </mdb-card-title>
            <mdb-card-text class="text-white">
                <p>Congratulazioni ora sei registrato.</p>
                <p>Se vuoi partecipare al fantastico torneo della SchitCup bisogna seguire le istruzioni riportate.</p>
                <p>L'unico modo per iscriversi è versare la quota di iscrizione pari a
                    <span style="font-weight: bold;">€ 10</span> presso le casse della dirigenza,
                    per farlo sono previste due modalità:
                </p>
                <ul>
                    <li>Pagamento di persona ad uno degli esponenti organizzatori dell'evento.</li>
                    <li>Pagamento on line seguendo le istruzioni sotto riportate</li>
                </ul>
                <p>
                    *Per il pagamento on line todo da fare prossimamente
                </p>
                <p>Saluti.</p>
                <hr>
                <!-- Forgot login -->
                <a routerLink="/sign-in">Torna all Login  <mdb-icon fas icon="backward" class="white-text"></mdb-icon></a>
            </mdb-card-text>
        </mdb-card-body>
    </mdb-card>
</div>