@import '../../../../assets/css/page.scss';





.squadre{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.punteggio{
    display: flex;
    justify-content: center;
    align-items: center;
}

.loghi{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.sfondo_campo{
    background-image: url(../../../../assets/img/campo_sfida.png);
    background-position: center; 
	background-repeat: no-repeat;
    background-size: cover;

}
