<div class="navbar">
    <!-- Links -->
    <div class="nav-item flex-start pr-8">
      <div class="pr-8">
        <a type="button">
          <img src="assets/avatar/{{loggato.avatar}}.png" routerLink="/home/info-utente" alt=""
            class="img-fluid rounded-circle z-depth-0" width="24px" height="24px"></a>
      </div>
      <div>
        <span class="navbar-brand">{{loggato.username}}</span>
      </div>
    </div>
    <div *ngIf="loggato.stato==STATI_UTNTE.ADMIN" class="nav-item flex-start">
      <a class="pa-8" routerLink="/home/gestione-admin">
        <mdb-icon fas icon="id-card-alt" class="pr-1"></mdb-icon>{{language.header.admin}}
      </a>
    </div>
    <div class="nav-item flex-start">
      <a class="pa-8" routerLink="/home/dashboard">
        <mdb-icon fas icon="poo" class="pr-1"></mdb-icon>{{language.header.home}}
      </a>
    </div>
    <div class="nav-item flex-start">
      <a class="pa-8"  routerLink="/home/classifiche">
        <mdb-icon fas icon="chart-line" class="pr-1"></mdb-icon>{{language.header.classifiche}}
      </a>
    </div>
    <div class="nav-item flex-start">
      <a class="pa-8" routerLink="/home/calendario">
        <mdb-icon fas icon="umbrella-beach" class="pr-1"></mdb-icon>{{language.header.calendario}}
      </a>
    </div>
    <div class="nav-item flex-start">
      <a class="pa-8" routerLink="/home/rose-utenti">
        <mdb-icon fas icon="binoculars" class="pr-1"></mdb-icon>{{language.header.rose}}
      </a>
    </div>
    <div class="nav-item flex-start">
      <a class="nav-link" (click)="azzeraMessaggiDesk()" routerLink="/home/comunicazioni">{{loggato.num_msg}} <mdb-icon
          fas icon="envelope"></mdb-icon></a>
    </div>
    <!-- Links -->
  </div>
