<div class="modale-linguaggio">
    <div style="text-align: center;">
        <h2>{{data.titolo}}</h2>
    </div>
    <mat-dialog-content [formGroup]="form">

        <mat-form-field appearance="outline">
            <mat-label>Casa</mat-label>
            <mat-select formControlName="casa">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let item of data.combo" [value]="item.id">{{item.squadra}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Trasferta</mat-label>
            <mat-select formControlName="trasferta">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let item of data.combo" [value]="item.id">{{item.squadra}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Fase</mat-label>
            <input matInput type="number" formControlName="fase">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Giornata</mat-label>
            <input matInput type="number" formControlName="giornata">
        </mat-form-field>

    </mat-dialog-content>

    <mat-dialog-actions>
        <button mdbBtn color="danger" (click)="close()">Close</button>
        <button mdbBtn color="primary" (click)="save()">Save</button>
    </mat-dialog-actions>
</div>