<div *ngIf="!loading_page" [hidden]="hidden_page" class="page pb-32">

    <div class="pt-8 pb-32 titolo-pagina">
        <h4>{{language.page.voti_live}}</h4>
    </div>

    <div *ngIf="formazioni">
        <div *ngFor="let fanta of formazioni" class="pb-16">

            <div class="my-card mb-8">
                <div class="my-card-header">
                    <div class="row">
                        <div class="col-6">
                            <span>{{fanta.match[0].squadra}}</span>
                        </div>
                        <div class="col-6">
                            <span>{{fanta.match[1].squadra}}</span>
                        </div>
                    </div>
                  </div>
                <div class="my-card-body font-size-smart">
                    <div class="row">
                        <div class="col-6">
                            <div *ngFor="let schieramento of fanta.match[0].schieramento">
                                <span>{{schieramento.ruolo}} {{schieramento.calciatore}} {{schieramento.voto}}</span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div *ngFor="let schieramento of fanta.match[1].schieramento">
                                <span>{{schieramento.ruolo}} {{schieramento.calciatore}} {{schieramento.voto}}</span>
                            </div>
                        </div>
                    </div>
                </div>
              </div>

        </div>

    </div>