@import '../../../../assets/css/page.scss';

.squadra{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.qualificato{
    background-color: lightgreen;
}

.spareggi{
    background-color: lightblue;
}