<div *ngIf="!loading_page" [hidden]="hidden_page" class="page">

    <my-titolo [title]="language.page.classifiche"></my-titolo>

    <div *ngIf="classifiche.gironi.length" class="pt-8 pb-8">
        <mdb-card class="text-white" bgColor="bg-success">
            <mdb-card-header>{{language.page.fasi.gironi}}</mdb-card-header>
        </mdb-card>

        <div *ngFor="let classifica of classifiche.gironi">
            <div class="pb-8 pt-8">
                <mdb-card>
                    <mdb-card-header style="background-color: white;">{{language.page.girone}} {{classifica.girone}}
                    </mdb-card-header>
                    <!--Card content-->
                    <mdb-card-body>
                        <table class="table table-hover">
                            <thead class="red white-text rounded-lg">
                                <tr>
                                    <th *ngFor="let head of headElementsGironi" scope="col">{{head}} </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr [ngClass]="{'primo': el.posizione === 1, 'secondo' : el.posizione === 2 }"
                                    mdbTableCol *ngFor="let el of classifica.teams">
                                    <td>
                                        <div class="squadra">
                                            <img src="assets/avatar/{{el.avatar}}.png" class="avatar" width="24px" />
                                            <div class="pl-8">{{el.squadra}}</div>
                                        </div>
                                    </td>
                                    <td>{{el.gol}}</td>
                                    <td>{{el.punti}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </mdb-card-body>

                </mdb-card>
            </div>
        </div>

        <div class="pb-8 pt-8">
            <mdb-card>
                <mdb-card-header style="background-color: white;">
                    <div class="flex-start">
                        <div class="primo mb-8" style="width: 80px;height: 20px;"> </div>
                        <span style="font-size: 12px;"> -> PASSAGGIO AL TURNO SUCCESSIVO</span>
                    </div>
                    <div class="flex-start">
                        <div class="secondo" style="width: 80px;height: 20px;"> </div>
                        <span style="font-size: 12px;"> -> QUALIFICATA AGLI SPAREGGI</span>
                    </div>

                </mdb-card-header>
            </mdb-card>
        </div>

    </div>

    <div *ngIf="classifiche.factory.length" class="pt-8 pb-8">
        <mdb-card class="text-white" bgColor="bg-success">
            <mdb-card-header>COEFFICIENTE MERDA</mdb-card-header>
        </mdb-card>

        <div class="pb-8 pt-8">
            <mdb-card>
                <mdb-card-header style="background-color: white;">{{language.page.generale}}
                </mdb-card-header>
                <!--Card content-->
                <mdb-card-body>
                    <table class="table table-hover">
                        <thead class="red white-text rounded-lg">
                            <tr>
                                <th *ngFor="let head of headElementsFactory" scope="col">{{head}} </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr mdbTableCol *ngFor="let el of classifiche.factory">
                                <td>
                                    <div class="squadra">
                                        <img src="assets/avatar/{{el.avatar}}.png" class="avatar" width="24px" />
                                        <div class="pl-8">{{el.squadra}}</div>
                                    </div>
                                </td>
                                <td style="font-weight: bold;">{{el.factory}}</td>
                            </tr>
                        </tbody>
                    </table>
                </mdb-card-body>

            </mdb-card>

        </div>

    </div>

</div>