@import '../../../../assets/css/page.scss';

.squadra{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.qualificato{
    background-color: lightgreen;
}

.spareggi{
    background-color: lightblue;
}

.leggenda{
    width: 64px;
    height: 14px;
    margin-right: 8px;
}


.card-body {
    padding: 0.50rem;
}

.numeri{
    width: 40px;
}

