<div class="pb-16 pt-8">
  <mdb-card bgColor="bg-light">
    <mdb-card-header>
      <mdb-icon fas icon="info-circle"></mdb-icon>
      <span class="pl-16">
        IN QUESTA SEZIONE E' POSSIBILE IMPORTARE LA LISTA CALCIATORI TOTALE
      </span>
    </mdb-card-header>
  </mdb-card>
</div>

<hr>

<div class="pb-16 pt-8">
  <mdb-card>
    <mdb-card-header>
      <mdb-icon fas icon="running"></mdb-icon>
      <span class="pl-16">
        AGGIUNGI IL FILE EXCEL CON LA LISTA DEI SVINCOLATI
      </span>
    </mdb-card-header>
  </mdb-card>
</div>

<label class="btn btn-default btn-file">
  Update File
  <input type="file" style="display: none;" (change)="importListaCalciatori($event)"
    accept=".csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
</label>
<div class="pa-8">
  <my-button [submit]="false" [color]="'danger'" [block]="true" [disabled]="!rose.length" [label]="'INVIA'"
    [loading]="loading_btn" (myClick)="onAggiungiCalciatori()"></my-button>
</div>