<div *ngIf="administrator" class="page">

  <mat-tab-group backgroundColor="accent" mat-align-tabs="center">

    <mat-tab label="UTENTI">
      <div class="pt-16 pl-8 pr-8 tabula">
        <gestione-utenti [administrator]="administrator"></gestione-utenti>
      </div>
    </mat-tab>

    <mat-tab label="CALCOLO">
      <div class="pt-16 tabula">
        <calcolo-voti [calcolato]="administrator.calcolato"></calcolo-voti>
      </div>
    </mat-tab>

    <mat-tab label="RECUPERO">
      <div class="pt-16 tabula">
        <recupero-precedenti [administrator]="administrator"></recupero-precedenti>
      </div>
    </mat-tab>

    <mat-tab label="SVINCOLATI">
      <div class="pt-16 tabula">
        <gestione-rose [attuali]="administrator.lista_calciatori"></gestione-rose>
      </div>
    </mat-tab>

    <mat-tab label="SQUADRE">
      <div class="pt-16 tabula">
        <gestione-squadre [listaRose]="administrator.lista_calciatori"
          [utenti]="administrator.utenti"></gestione-squadre>
      </div>
    </mat-tab>

    <mat-tab label="NOTIFICHE">
      <div class="pt-16 tabula">
        <gestione-notifiche [utenti]="administrator.utenti"></gestione-notifiche>
      </div>
    </mat-tab>

    <mat-tab label="ACCOPPIAMENTI">
      <div class="pt-16 tabula">
        <accoppiamenti></accoppiamenti>
      </div>
    </mat-tab>

  </mat-tab-group>



</div>