<div style="text-align: center;">
    <h4>SHIT CUP</h4>
</div>

<div class="divisione pb-8">
    <div class="col-half sfidante">
        <h6>{{data.CASA.squadra}}</h6>
    </div>
    <div class="col-half sfidante">
        <h6> {{data.TRASFERTA.squadra}}</h6>
    </div>
</div>

<div class="divisione">
    <div class="col-half">
        <div class="font-size-smart pa-4">
            <div class="formazioni">
                <div *ngFor="let item of data.CASA.formazione" class="flex-between">
                    <div>
                        {{item.nome}}
                    </div>
                    <div>
                        {{item.voto}}
                    </div>
                </div>
                <hr>
                <div class="pb-8">Modulo: {{data.CASA.modulo}}</div>
                <div class="pb-8">Bonus: {{data.CASA.bonus}}</div>
                <div class="flex-between">
                    <div>
                        TOT.
                    </div>
                    <div>
                        {{data.CASA.somma}}
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-half">
        <div class="font-size-smart pa-4">
            <div class="formazioni">
                <div *ngFor="let item of data.TRASFERTA.formazione" class="flex-between">
                    <div>
                        {{item.nome}}
                    </div>
                    <div>
                        {{item.voto}}
                    </div>
                </div>
                <hr>
                <div class="pb-8">Modulo: {{data.TRASFERTA.modulo}}</div>
                <div class="pb-8">Bonus: {{data.TRASFERTA.bonus}}</div>
                <div class="flex-between">
                    <div>
                        TOT.
                    </div>
                    <div>
                        {{data.TRASFERTA.somma}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>