<div style="text-align: center;">
    <h4>SHIT CUP</h4>
</div>

<div class="flex-between pb-8">
    <div>
        <h6 class="sfidanti">{{data.CASA.squadra}}</h6>
    </div>
    <div>
        <h6 class="sfidanti"> {{data.TRASFERTA.squadra}}</h6>
    </div>
</div>

<div class="flex-between scontro font-size-smart">

    <div class="formazioni">
        <div *ngFor="let item of data.CASA.formazione" class="flex-between">
            <div class="pl-8">
                {{item.nome}}
            </div>
            <div class="pl-8 pr-8">
                {{item.voto}}
            </div>
        </div>
        <hr>
        <div class="pl-8 pb-8">Modulo: {{data.CASA.modulo}}</div>
        <div class="flex-between">
            <div class="pl-8">
                TOT.
            </div>
            <div class="pl-8 pr-8">
                {{data.CASA.somma}}
            </div>
        </div>
       
    </div>

    <div class="formazioni">
        <div *ngFor="let item of data.TRASFERTA.formazione" class="flex-between">
            <div>
                {{item.nome}}
            </div>
            <div class="pl-8 pr-8">
                {{item.voto}}
            </div>
        </div>
        <hr>
        <div class="pb-8">Modulo: {{data.TRASFERTA.modulo}}</div>
       
        <div *ngIf="data.TRASFERTA.somma" class="flex-between">
            <div class="pl-8">
                TOT.
            </div>
            <div class="pl-8 pr-8">
                {{data.TRASFERTA.somma}}
            </div>
        </div>
    </div>

   
</div>