<div *ngIf="loggato.selezionata.stato!=STATI_UTNTE.ISCRITTO" class="all-view">

  <div class="pcdesktop">
    <nav-desktop></nav-desktop>
  </div>

  <div class="tablet">
    <nav-tablet></nav-tablet>
  </div>

  <div class="smartphone">
    <nav-smartphone></nav-smartphone>
  </div>

  <!-- Page -->
  <div class="pt-media" style="min-height:100vh;">
    <div *ngIf="loggato.selezionata.stato==STATI_UTNTE.PARTECIPANTE" class="pagante">
      <h2>RICORDATI DI SALDARE IL DEBITO!</h2>
    </div>
    <my-spinner></my-spinner>
    <my-alert></my-alert>
   
    <router-outlet></router-outlet>
  </div>

  <my-footer></my-footer>
</div>

<div *ngIf="loggato.selezionata.stato==STATI_UTNTE.ISCRITTO">
  <iscrizione></iscrizione>
</div>