<!-- Editable table -->
<div class="card">
  <h3 class="card-header text-center font-weight-bold text-uppercase py-4">GESTIONE UTENTI</h3>
  <div class="card-body">
    <div id="table" class="table-editable">

      <table class="table table-bordered table-responsive-md table-striped text-center">
        <tr>
          <th class="text-center">ID</th>
          <th class="text-center">USERNAME</th>
          <th class="text-center">SQUADRA</th>
          <th class="text-center">STATO</th>
          <th class="text-center">Update</th>
          <th class="text-center">Remove</th>
        </tr>
        <tr *ngFor="let ele of utenti; let id = index">
          <td>
            <span>{{ele.id}}</span>
          </td>
          <td>
            <span>{{ele.username}}</span>
          </td>
          <td>
            <span>{{ele.squadra}}</span>
          </td>
          <td>
            <span>{{ele.stato}}</span>
          </td>
          <td>
            <span class="table-remove">
              <button type="button" mdbBtn color="primary" size="sm" class="my-0"
                (click)="onUpdUtente(ele)">UPDATE</button>
            </span>
          </td>
          <td>
            <span class="table-remove">
              <button type="button" mdbBtn color="danger" size="sm" class="my-0"
                (click)="onDelete(id,ele.id)">DELETE</button>
            </span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<!-- Editable table -->