<div class="gradient-body">

  <div class="flex-central pt-56 pb-56 pl-16 pr-16">

    <!-- Material form login -->
    <mdb-card>

      <mdb-card-header class="danger-color white-text text-center py-4">
        <h5>
          <strong>{{language.login.recupera_password}}</strong>
        </h5>
      </mdb-card-header>


      <!--Card content-->
      <mdb-card-body class="px-lg-5 pt-8">

        <!-- Form -->
        <form class="text-center" style="color: #757575;" #element="ngForm" (submit)="recupera(element)">

          <select class="form-control mb-4 mt-4 custom-select" [(ngModel)]="element.id_utente" placeholder="Utenti"
            name="id_utente" required>
            <option *ngFor="let u of utenti" [ngValue]="u.id">{{u.username}}</option>
          </select>


          <!-- Sign in button -->
          <my-button [submit]="true" [color]="'danger'" [block]="true" 
          [disabled]="element.invalid||loading_btn" [label]="language.bottoni.invia"></my-button>

          <!-- Forgot login -->
          <a routerLink="/sign-in">{{language.login.torna_al_login}}</a>

        </form>
        <!-- Form -->

      </mdb-card-body>

    </mdb-card>
    <!-- Material form login -->

  </div>

</div>