<div *ngIf="!loading_page" [hidden]="hidden_page" class="page pb-32">

  <div *ngIf="formazione">

    <div [hidden]="schieramento">

      <my-titolo [title]="language.page.rosa_utente"></my-titolo>

      <mat-selection-list #players>
        <mat-list-option #item *ngFor="let player of formazione.rosa" [selected]="player.selected"
          [disabled]="!disabledTeam(players,player) && !item.selected" [value]="player">
          {{player.tipo}} {{player.nome}} {{percentuale[player.nome]?percentuale[player.nome]:'0%'}}
        </mat-list-option>
      </mat-selection-list>

      <p style="color: red;margin-bottom:0" class="pt-32">{{language.page.indisponibili}} : </p>
      <mat-nav-list>
        <mat-list-item *ngFor="let item of formazione.indisponibili">
          {{item.tipo}} {{item.nome}}
        </mat-list-item>
      </mat-nav-list>

      <div class="pa-8">
        <my-button [color]="'success'" [block]="true" [disabled]="players.selectedOptions.selected.length!=5"
          [label]="language.bottoni.schiera" (myClick)="schiera(players.selectedOptions.selected)"></my-button>
      </div>


    </div>



    <div [hidden]="!schieramento" class="flex-schiera wrapper pb-32">

      <div class="pb-32">

        <my-titolo [title]="language.page.formazione"></my-titolo>

        <div>
          <div class="squadra-list" (click)="changeView()">

            <div class="flex-schiera pa-8">
              <div *ngFor="let ele of squadra">
                <div *ngIf="ele.tipo=='P'">
                  <img src="assets/caricature/{{ele.icona}}.png" class="avatar" width="40px" />
                  <div class="squadra-box">
                    <div>{{ele.tipo+" "+ele.nickname}}</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="flex-schiera pa-8">
              <div *ngFor="let ele of squadra">
                <div *ngIf="ele.tipo=='D'">
                  <img src="assets/caricature/{{ele.icona}}.png" class="avatar" width="40px" />
                  <div class="squadra-box">
                    <div>{{ele.tipo+" "+ele.nickname}}</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="flex-schiera pa-8">
              <div *ngFor="let ele of squadra">
                <div *ngIf="ele.tipo=='C'">
                  <img src="assets/caricature/{{ele.icona}}.png" class="avatar" width="40px" />
                  <div class="squadra-box">
                    <div>{{ele.tipo+" "+ele.nickname}}</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="flex-schiera pa-8">
              <div *ngFor="let ele of squadra">
                <div *ngIf="ele.tipo=='A'">
                  <img src="assets/caricature/{{ele.icona}}.png" class="avatar" width="40px" />
                  <div class="squadra-box">
                    <div>{{ele.tipo+" "+ele.nickname}}</div>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div *ngIf="modulo" class="pt-16">
            <p style="color: white;margin-bottom:0">{{language.page.modulo}} : {{modulo.descrizione}}</p>
            <p style="color: white;margin-bottom:0">{{language.page.punti_bonus}} : {{modulo.bonus}}</p>
          </div>

          <div class="pa-8">
            <my-button [color]="'danger'" [block]="true" [disabled]="squadra.length!=5"
              [label]="language.bottoni.inserisci" [loading]="loading_btn" (myClick)="setFormazione()"></my-button>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>