<div class="page">

    <div *ngIf="!registra">
        <mdb-card class="text-white mb-3" bgColor="bg-success">
            <mdb-card-header>ShitCup 2023/24</mdb-card-header>
            <mdb-card-body>
                <mdb-card-title>
                    <h5>Benvenuto</h5>
                </mdb-card-title>
                <mdb-card-text class="text-white">
                    <p>Congratulazioni ora sei registrato.</p>
                    <p>Se vuoi partecipare al fantastico torneo della SchitCup bisogna seguire le istruzioni riportate.
                    </p>
                    <p>inserisci una o più squadre facente parte del tuo attuale fantacalcio, ricordo che la quota per squadra è pari a 
                        <span style="font-weight: bold;">€ 10</span> da versare presso le casse della dirigenza.
                        Per l'inserimento di una nuova squadre basta inserire i dati che vengono di volta in volta richiesti.
                        Per il pagamento sono previste due modalità:
                    </p>
                    <ul>
                        <li>Pagamento di persona ad uno degli esponenti organizzatori dell'evento.</li>
                        <li>Pagamento on line seguendo le istruzioni sotto riportate</li>
                    </ul>
                    <p>
                        Pagamento bonifico: LT05 3250 0431 2585 4853 inserendo il o i nomi delle squadre registrate
                    </p>
                    <p>Saluti.</p>


                    <div *ngIf="!loading_btn" class="card">
                        <h3 class="card-header text-center font-weight-bold py-4" style="color: black;">{{language.presentazione.gestione_squadre}}
                        </h3>
                        <div class="card-body">

                            <my-button [color]="'warning'" [label]="language.bottoni.aggiungi_squadra" [loading]="loading_btn"
                                (myClick)="registra = true"></my-button>

                            <hr>

                            <div id="table" class="table-editable">

                                <table class="table table-bordered table-responsive-md table-striped text-center" style="border: 0px;">
                                    <tr>
                                        <th class="text-center">ID</th>
                                        <th class="text-center">ACCOUNT</th>
                                        <th class="text-center">SQUADRA</th>
                                        <th class="text-center"></th>
                                    </tr>
                                    <tr *ngFor="let ele of squadre">
                                        <td>{{ele.id_squadra}}</td>
                                        <td>{{ele.account}}</td>
                                        <td>{{ele.squadra}}</td>
                                        <td>
                                            <span class="table-remove">
                                                <i class="fas fa-trash-alt cursore" (click)="onDelete(ele.id_squadra)" ></i>
                                            </span>
                                        </td>
                                    </tr>

                                </table>
                            </div>
                        </div>
                    </div>



                    <hr>
                    <!-- Forgot login -->
                    <a routerLink="/sign-in" style="color: aliceblue;">Torna all Login <mdb-icon fas icon="backward"
                            class="white-text"></mdb-icon></a>


                </mdb-card-text>
            </mdb-card-body>
        </mdb-card>


    </div>
    <div *ngIf="registra">
        <registra-squadra (esci)="registra = false; getInfoUtente()"></registra-squadra>
    </div>
</div>